@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	.scroll {
		width: 30%;
		/* height: 100px; */
		/* border: 1px solid black; */
		overflow: scroll;
		display: inline-block;
        scrollbar-color: #232634 #303446;
	}
	.scroll-width-auto {
		scrollbar-width: auto;
	}
	.scroll-width-thin {
		scrollbar-width: thin;
	}
	.scroll-width-none {
		scrollbar-width: none;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-transparent shadow-sm;
	}
	::-webkit-scrollbar {
		@apply w-3 bg-base;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-none bg-crust /*color trackbar*/;
	}
}
